.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-main {
  display: flex;
}

.app-container {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.content-container {
  display: flex;
  margin-left: 60px;
  flex-direction: column;
  flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
}
.content-container.sign-page,
.content-container.test-page {
  margin-left: 0;
}

.panel-container {
  flex: 0 0;
  flex-basis: 100%;
  transition: flex-basis 0.3s ease-in-out;
  min-width: 400px;
}

.panel-container.chat-bot-visible {
  flex-basis: calc(100% - 30vw);
}

.app-chat-bot {
  overflow: hidden;
  height: calc(100vh - 60px);
  flex: 0 0;
  flex-basis: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, flex-basis 0.3s ease-in-out;
}

.app-chat-bot.chat-bot-visible {
  opacity: 1;
  flex-basis: 30vw;
}
