.cards-viewport {
  position: relative;
  width: 70%; /* 중앙 카드 너비 기준 */
  height: 75vh; /* 카드 높이 */
  display: flex;
  justify-content: center;
  align-items: center;
  --card-gap: 15px; /* 카드 간격 */
}

.cards-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-item {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0; /* 기본적으로는 보이지 않음 */
  pointer-events: none;
}

.card-item.active {
  /* 활성 카드 스타일 */
  opacity: 1;
  transform: translateX(0) scale(1);
  z-index: 2;
  pointer-events: auto; /* 활성 카드에서만 이벤트 허용 */
}

.card-item.prev {
  opacity: 0.5;
  transform: translateX(calc(-100% - var(--card-gap))) scale(0.8);
  z-index: 1;
}

.card-item.next {
  opacity: 0.5;
  transform: translateX(calc(100% + var(--card-gap))) scale(0.8);
  z-index: 1;
}

.main-arrow.prev {
  margin-right: 15px;
}
.main-arrow.next {
  margin-left: 15px;
}

.page-indicator {
  display: flex;
  gap: 4px;
  /* gap: 12px;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 999px;
    padding: 10px 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08); */
}

/* 3. 기본 점 스타일 (비활성화 상태) */
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%; /* 원 모양 */
  background-color: #ccc; /* 비활성 색상 (예: 회색) */
  transition: background-color 1s ease; /* 부드러운 전환 효과 */
}

/* 4. 활성화된 점 스타일 */
.dot.active {
  background-color: #000; /* 활성 색상 (예: 검은색) */
}
