.user-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.level-bar {
    border: 1px solid black;
    width: 100px;
    height: 20px;
    background-color: #ddd;
}

.level-bar-progress {
    height: 100%;
    background-color: lightblue;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
